#productsTable {
  img {
    width: 180px;
  }
  td {
    padding: 20px;
  }
}

.content {
  background-image: url("adm_product.jpg");
}

h2 {
  text-align: center;
}

.app-menu {
  background-color: slateblue;
}
