<div style="display: flex; flex-direction: row;">
    <app-menu class="app-menu"></app-menu>
    <div class="content" style="width: 100%">
        <div class="content-header">
            <h2>DASHBOARD</h2>
        </div>
        <div style="width: 90%;">
          <div style="display: block">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
          </div>
        </div>
    </div>
</div>
